{% extends base_certificate.html %}

{% block title %}离职申请{% end %}
{% block certificate_title %}离职申请{% end %}
{% block more_head %}
{% module Template("module_date_time_picker.html") %}
{% end %}

{% block certificate_content %}
<div>
    所属部门：<span>{{ account_info['dept'] }}</span>　　　　　　　　职位：<span>{{ account_info['position'] }}</span>
</div>
<div>
    预计离职日期：
    <input class="job_process_content_date_picker" type="text" id="resign_date">
</div>
<div>
    离职原因：
    <div>
        <textarea id="reason" class="common_text_area"></textarea>
    </div>
</div>
{% end %}

{% block guild_module %}{% module Template("module_hr_guild.html") %}{% end %}

{% block js_script %}
<script>
    initDatePicker($("#resign_date"));

    function getParam(check) {
        if (check) return null;

        var reason = $("#reason").val();
        if (!reason) {
            promptMsg('请填写离职原因');
            return null;
        }

        var resign_date = $("#resign_date").val();

        var content =  "所属部门：" + wrapWithStrength("{{ account_info['dept'] }}");
        content +=  getDoubleSpace(8) + "职位：" + wrapWithStrength("{{ account_info['position'] }}") + "\n";
        content += "预计离职日期：" + wrapWithStrength(resign_date) + "\n";
        content += "离职原因：\n";
        content += getDoubleSpace(2) + reason + "\n";

        return {
            op: 'add',
            job_type: getType(),
            title: '离职申请',
            content: wrapJobContent(content)
        };
    }

    function getType() {
        return TYPE_JOB_HR_RESIGN;
    }
</script>
{% end %}