{% extends base_certificate.html %}

{% block title %}请假流程{% end %}
{% block more_head %}
{% module Template("module_date_time_picker.html") %}
<script type="text/javascript" src="res/script/attachment_list.js"></script>
<link rel="stylesheet" href="res/css/list.css">
{% end %}
{% block certificate_title %}请假流程{% end %}

{% block certificate_content %}
<div style="display: inline-block">
    <div class="element_left">
        <div>
            开始时间：<input type="text" id="begin_time" class="job_process_content_date_picker">
        </div>
        <div>
            结束时间：<input type="text" id="end_time" class="job_process_content_date_picker">
        </div>
    </div>
    <div class="element_left" style="margin-left: 80px">
        <div>
            请假天数：<input type="text" id="leave_days" value="0">
        </div>
    </div>
</div>
<div>
    请假类型：
    <select id="leave_type">
        <option selected value="病假">病假</option>
        <option value="事假">事假</option>
        <option value="年假">年假</option>
        <option value="调休">调休</option>
        <option value="婚假">婚假</option>
        <option value="丧假">丧假</option>
    </select>
</div>
<div>
    请假原因：
    <div>
        <textarea id="reason" class="common_text_area"></textarea>
    </div>
</div>
<div class="job_attachment_container" id="attachment_container"></div>
{% end %}

{% block guild_module %}{% module Template("module_hr_guild.html") %}{% end %}

{% block js_script %}
<script>
    var attachment_controller = initAttachmentController($("#attachment_container"));
    var position_type = {{ account_info['position_type'] }};
    var leave_step = 0.5;

    $(function () {
        initDatePicker($("#begin_time"), {timepicker: true, format: 'Y-m-d H:i:00'});
        initDatePicker($("#end_time"), {timepicker: true, format: 'Y-m-d H:i:00'});

        selectMenu($("#leave_type"));
        commonInitLeftSpinner( $("#leave_days") );
    });

    function getParam(check) {
        if (check) return;

        var begin_time = $("#begin_time").val();
        if (!begin_time) {
            promptMsg('请选择开始时间');
            return''
        }
        var end_time = $("#end_time").val();
        if (!end_time) {
            promptMsg('请选择结束时间');
            return''
        }
        var begin = new Date(begin_time);
        var end = new Date(end_time);
        var ms = end.getTime() - begin.getTime();
        if (ms < 0) {
            promptMsg('结束时间应该晚于开始时间');
            return;
        }
        var job_type = null;
        var half_days = getHalfDaysFromSpinner($("#leave_days"));
        if (half_days <= 0) {
            promptMsg("请选择休假时长");
            return;
        }
        var leave_days = half_days * leave_step;
        var beyond_ond_day = half_days > 2;
        if (beyond_ond_day) {
            if (position_type === TYPE_POSITION_NORMAL) {
                job_type = TYPE_JOB_ASK_FOR_LEAVE_NORMAL_BEYOND_ONE_DAY;
            } else {
                job_type = TYPE_JOB_ASK_FOR_LEAVE_LEADER_BEYOND_ONE_DAY;
            }
        } else {
            if (position_type === TYPE_POSITION_NORMAL) {
                job_type = TYPE_JOB_ASK_FOR_LEAVE_NORMAL_IN_ONE_DAY;
            } else {
                job_type = TYPE_JOB_ASK_FOR_LEAVE_LEADER_IN_ONE_DAY;
            }
        }

        var type = $("#leave_type").val();

        var reason = $("#reason").val();
        if (!reason) {
            promptMsg('请填写请假原因');
            return
        }

        var content =  "开始时间：" + wrapWithStrength(begin_time) + "\n";
        content += "结束时间：" + wrapWithStrength(end_time) + "\n";
        content += "请假天数：" + wrapWithStrength(leave_days) + '天\n';
        content += "请假类型：" + wrapWithStrength(type) + "\n";
        content += "请假原因：\n";
        content += getDoubleSpace(2) + reason + "\n";


        var param = {
            op: 'add',
            job_type: job_type,
            title: '请假流程',
            content: wrapJobContent(content),
            begin_time: begin_time,
            end_time: end_time,
            leave_type: type,
            half_day: half_days
        };

        var attachment = attachment_controller.get_upload_files();
        if (attachment) {
            param['has_attachment'] = 1;
            param['file_list'] = JSON.stringify(attachment);
        }
        return param;
    }

    function getType() {
        return TYPE_JOB_HR_ASK_FOR_LEAVE;
    }
</script>
{% end %}