<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Default title{% end %}</title>
    <script src="res/jquery/external/jquery/jquery.js"></script>
    <script src="res/jquery/jquery-ui.js"></script>
    <link href="res/jquery/jquery-ui.css" rel="stylesheet">
    <link href="res/css/base.css" rel="stylesheet">
    <script src="res/script/base.js"></script>
    <link href="res/css/navigation.css" rel="stylesheet">
    {% block custom_head %}{% end %}
</head>

<body>
{% block custom_header %}
{% module Template("header.html", account_info=account_info) %}
{% end %}
<div class="base_container">

    <div id="__common_tag_area" class="common_tag_area"></div>

    {% block custom_body %}
    {% end %}

    {% block custom_footer %}
    <div class="web_footer">版权所有 my-oa.com</div>
    {% end %}
</div>

</body>

<script>
    $("#__common_tag_area").hide();
    var __authority = {{ account_info['authority'] }};

    function getGuildItemHtml(item) {
        return '<li><a style="color: white;" href="' + item.href + '">' + item.label + '</a></li>'
    }

    function showGuildBar() {
        {% block custom_guild_bar %}
        var guild = [
            {href: 'index.html', label: '首页', authority: __common_authority},
            {href: 'personal.html', label: '个人信息', authority: __admin_authority},
            {href: 'error.html', label: '通讯录', authority: __admin_authority},
            {href: 'error.html', label: '工作流', authority: __dept_leader_authority},
            {href: 'error.html', label: '办公室发文', authority: __common_authority},
            {href: 'error.html', label: '证明材料申请', authority: __admin_authority},
            {href: 'error.html', label: '人事流程', authority: __dept_leader_authority},
            {href: 'error.html', label: '采购流程', authority: __admin_authority},
            {href: 'error.html', label: '公司制度', authority: __dept_leader_authority},
            {href: 'error.html', label: '文件下载', authority: __dept_leader_authority}
        ];
        {% end %}
        var html = '';
        guild.forEach(function (item, p2, p3) {
            if (item.authority >= __authority) {
                html += getGuildItemHtml(item);
            }
        });
        $("#guild_bar").append(html);
    }

    $(showGuildBar);
</script>

{% block custom_foot %} {% end %}
</html>