{% extends base.html %}

{% block custom_guild_bar %}
var guild = [
{href: 'index.html', label: '首页', authority: __admin_authority},
{href: 'index_page_manage.html', label: '配置首页', authority: __admin_authority},
{href: 'employee_manage.html', label: '公司架构', authority: __admin_authority},
{href: 'job_path_manage.html', label: '工作流节点', authority: __admin_authority},
{href: 'rule_manage.html', label: '公司制度管理', authority: __admin_authority},
{href: 'download_file_manage.html', label: '文件下载管理', authority: __admin_authority},
{href: 'error.html', label: '权限管理', authority: __admin_authority},
{href: 'other_manage.html', label: '其他配置', authority: __admin_authority}
];
{% end %}