{% extends base.html %}

{% block title %}{{ detail['title'] }}详情{% end %}
{% block custom_head %}
{% module Template("module_date_time_picker.html") %}
<link rel="stylesheet" href="res/css/job_common.css">
<link rel="stylesheet" href="{{static_url('../res/css/detail_of_work_off.css')}}">
{% end %}

{% block custom_body %}

<div class="table_container">
    <div style="height: 2rem; padding-bottom: 0.2rem">
        <div class="job_status element_left"><span style="color: black">工作流状态：</span>{% raw detail['status'] %}</div>
        <div class="doc_detail_anchor common_border element_right">
            <ul id="doc_node_list_anchor">
                <li id="cancel_btn" class="common_clickable" {% if not detail['can_cancel'] %}hidden{% end %}>撤回</li>
                <li id="roll_back_btn" class="common_clickable" {% if not detail['can_roll_back'] %}hidden{% end %}>销假</li>
                <li id="export_btn" class="common_clickable" {% if not detail['can_export'] %}hidden{% end %}>导出</li>
                <li id="delete_btn" onclick="deleteJob()" class="common_clickable" {% if not detail['can_del'] %}hidden{% end %}>删除</li>
            </ul>
        </div>
    </div>

    <div class="table_title">
        深圳市东部传媒股份有限公司{{ detail['title'] }}条
    </div>
    {% set cols=3 %}
    <div>
        <table cellspacing="0">
            <tr>
                <td class="field">姓名</td>
                <td id="applicant">{{ detail['invoker'] }}</td>
                <td class="field">部门</td>
                <td id="department">{{ detail['department'] }}</td>
            </tr>
            <tr>
                <td class="field">{{ detail['title'] }}类别</td>
                <td id="leave_type">{{ detail['type'] }}</td>
                <td>应享受年休假{{ detail['total_annual'] }}天</td>
                <td>已休年休假{{ detail['used_annual'] }}天</td>
            </tr>
            <tr>
                <td class="field">{{ detail['title'] }}事由</td>
                <td colspan="{{ cols }}">
                    {% raw detail['reason'] %}
                </td>
            </tr>
            <tr>
                <td class="field">{{ detail['title'] }}时间</td>
                <td colspan="{{ cols }}">
                    {% raw detail['time'] %}
                </td>
            </tr>
            <tr>
                <td class="field">人事部初核意见</td>
                <td colspan="{{ cols }}">
                    {% raw detail['pre_judgement'] %}
                </td>
            </tr>
            <tr>
                <td class="field">部门负责人意见</td>
                <td colspan="{{ cols }}">
                    {% raw detail['department_leader_judgement'] %}
                </td>
            </tr>
            <tr>
                <td class="field">分管领导意见</td>
                <td colspan="{{ cols }}">
                    {% raw detail['via_leader_judgement'] %}
                </td>
            </tr>
            <tr>
                <td class="field">主要负责人意见</td>
                <td colspan="{{ cols }}">
                    {% raw detail['main_leader_judgement'] %}
                </td>
            </tr>
            <tr>
                <td class="field">人事部备案情况</td>
                <td colspan="{{ cols }}">
                    {% raw detail['hr_department_record'] %}
                </td>
            </tr>
            <tr>
                <td class="field">附件</td>
                <td colspan="{{ cols }}">
                    {% for attachment in detail['attachment'] %}
                    <div><a href="{{ attachment['path'] }}">{{ attachment['name'] }}</a></div>
                    {% end %}
                </td>
            </tr>
            {% if detail['mark'] %}
            <tr>
                <td class="field">备注</td>
                <td colspan="{{ cols }}">
                    {% raw detail['mark'] %}
                </td>
            </tr>
            {% end %}

        </table>
    </div>

    <div id="process_container" {% if not detail['waiting'] %} hidden {% end %}>
        <div class="doc_text_area_container">{{ detail['process_desc'] }}</div>
        <div class="doc_text_area_container">
            <textarea id='doc_content' class="doc_text_area" placeholder="{{ detail['reply_desc'] }}"></textarea>
        </div>
        <div style="height: 32px;">
            <button id='doc_send_btn' class="doc_send_btn">{{ detail['reply_desc'] }}</button>
            <button id='doc_reject_btn' class="doc_reject_btn">{{ detail['reject_desc'] }}</button>
        </div>
    </div>
</div>

<div id="roll_back_dlg" title="销假申请">
    <div style="display: inline-block">
        <div class="element_left">
        <div>
            开始时间：
            <input type="text" id="begin_time" class="job_process_content_date_picker">
            <select id="begin_time_part">
                <option value="0" selected>上午</option>
                <option value="1">下午</option>
            </select>
        </div>
        <div>
            结束时间：
            <input type="text" id="end_time" class="job_process_content_date_picker">
            <select id="end_time_part">
                <option value="0" selected>上午</option>
                <option value="1">下午</option>
            </select>
        </div>
    </div>
        <div class="element_left" style="margin-left: 80px">
            <div>
                销假天数：<input type="text" id="leave_days" value="0">
            </div>
        </div>
    </div>
    <div>
        销假原因：
        <div>
            <textarea id="reason" class="common_text_area"></textarea>
        </div>
    </div>

</div>

<script>
    var job_id = {{ detail['job_id'] }};

    var roll_back_dlg = $("#roll_back_dlg");
    commonInitDialog(roll_back_dlg, roll_back, {width: 720});
    initDatePicker($("#begin_time"));
    initDatePicker($("#end_time"));
    commonInitLeftSpinner( $("#leave_days") );

    initConfirmDialog();

    $("#doc_send_btn").click(function (event) {
        reply();
    });
    $("#doc_reject_btn").click(function (event) {
        reject();
    });

    $("#cancel_btn").click(function (event) {
        cancel();
    });
    $("#export_btn").click(function (event) {
        export_doc();
    });
    $("#roll_back_btn").click(function (event) {
        roll_back_dlg.dialog('open');
    });

    function reply() {
        var content = $("#doc_content").val() || '{{ detail["reply_desc"] }}';
        var param = {
            content: wrapJobContent(content),
            job_id: job_id,
            op: 'reply'
        };

        commonPost('/api/work_off', param, function (data) {
            promptMsg('回复成功，2s后自动刷新...');
            setTimeout(function () {
                refresh();
            }, 2000);
        });
    }

    function reject() {
        showConfirmDialog('拒绝该申请并归档该工作流？', function () {
            var content = $("#doc_content").val() || '{{ detail["reject_desc"] }}';
            commonPost('/api/work_off',
                {job_id: job_id, op: 'reject', content: wrapJobContent(content)},
                function (data) {
                    promptMsg('操作成功，2s后自动刷新...');
                    setTimeout(function () {
                        refresh();
                    }, 2000);
                });
        });
    }

    function cancel() {
        showConfirmDialog('撤消该工作流？', function () {
            commonPost('/api/work_off', {op: 'cancel', job_id: job_id}, function (data) {
                promptMsg('撤消成功，2s后自动刷新...');
                setTimeout(function () {
                    refresh();
                }, 2000);
            });
        });
    }

    function export_doc() {
        commonPost('/detail_of_work_off.html', {job_id: job_id}, function (data) {
            window.open(data.path);
        });
    }

    function roll_back() {

        var begin_time = $("#begin_time").val();
        if (!begin_time) {
            promptMsg('请选择开始时间');
            return''
        }
        var begin_time_part = $("#begin_time_part").val();

        var end_time = $("#end_time").val();
        if (!end_time) {
            promptMsg('请选择结束时间');
            return''
        }
        var end_time_part = $("#end_time_part").val();

        if (begin_time > end_time || (begin_time === end_time && begin_time_part > end_time_part)) {
            promptMsg('结束时间应该晚于开始时间');
            return;
        }
        var time_part = {
            0: '上午',
            1: '下午'
        };
        begin_time += ' ' +  time_part[begin_time_part];
        end_time += ' ' + time_part[end_time_part];
        var half_days = getHalfDaysFromSpinner($("#leave_days"));
        if (half_days <= 0) {
            promptMsg("请选择销假时长");
            return;
        }
        var reason = $("#reason").val();
        if (!reason) {
            promptMsg('请填写销假原因');
            return
        }

        roll_back_dlg.dialog('close');
        var param = {
            op: 'roll',
            job_id: job_id,
            content: wrapJobContent(reason),
            begin_time: begin_time,
            end_time: end_time,
            half_day: half_days
        };
        commonPost('/api/work_off', param, function (data) {
            refresh();
            window.open('detail_of_work_off.html?job_id=' + data);

        });
    }

    function refresh() {
        window.location.reload();
    }

    function deleteJob() {
        commonPost("api/alter_job", {
            job_id: job_id,
            op: "delete"
        }, function (data) {
            window.location.href = "/";
        });
    }

</script>
{% end %}
