{% extends base.html %}
<title>{% block title %}动态详情{% end %}</title>

{% block custom_head %}
<link rel="stylesheet" href="res/css/dynamic_detail.css">
{% end %}

{% block custom_body %}
<div style="display: inline-block; width: 100%;">
    <div style="width: 900px; margin-left: auto; margin-right: auto;">
        <div id="dynamic_title"></div>
        <div id="dynamic_author"></div>
        <div id="img_container">
            <div>
                <ul id="img_list"></ul>
            </div>
            <div>
                <img id="img_detail">
            </div>
        </div>
        <div id="dynamic_content"></div>
        <div id="attachment_container"></div>
    </div>
</div>
{% end %}

{% block custom_foot %}
<script>
    var __job_id = {{ arg['job_id'][0] }};
    var img_list_data;
    var current_img = -1;

    $(document).ready(function () {
        queryContent();
    });

    function queryContent() {
        commonPost('/api/query_job_info', {type: 'base', job_id: __job_id, count: 1}, function (data) {
            if (data.type !== TYPE_JOB_DYNAMIC) {
                redirectError('类型错误');
            }
            $("#dynamic_title").text(data.title);
        });
        commonPost('/api/query_job_info', {type: 'node', job_id: __job_id}, function (data) {
            if (data.length === 0) {
                redirectError('页面不存在');
            }
            var node = data[0];
            var divider = getDoubleSpace(2);
            var author_info = node.sender + divider + node.dept + divider + node.time;
            $("#dynamic_author").text(author_info);
            var content = parseJobContent(node.content);
            $("#dynamic_content").html(content);

            var img_list_container = $("#img_list");
            if (node.has_img) {
                img_list_data = node.img_attachment;
                img_list_data.forEach(function (p1, p2, p3) {
                    img_list_container.append('<li id="img_item_' + p2 + '" onclick="showImg(' + p2 + ')"><div><img src="' + p1.path + '"></div></li>');
                });
                showImg(0);
            } else {
                $("#img_container").hide();
            }

            var attachment_container = $("#attachment_container");
            if (node.has_attachment) {
                attachment_container.append('<div id="attachment_tag">附件：</div>');
                node.attachment.forEach(function (p1, p2, p3) {
                    attachment_container.append('<div><a href="' + p1.path + '">' + p1.name + '</a></div>');
                });
            } else {
                attachment_container.hide();
            }
        });
    }

    function showImg(index) {
        if (index !== current_img) {
            if (current_img >= 0) {
                $("#img_item_" + current_img).removeClass('img_active');
            }
            current_img = index;
            $("#img_detail").attr('src', img_list_data[index].path);
            $("#img_item_" + current_img).addClass('img_active');
        }
    }
</script>
{% end %}