{% extends base.html %}

{% block title %}员工信息登记表{% end %}
{% block custom_head %}
<link rel="stylesheet" href="res/css/module_employee_info_table.css">
{% module Template("module_date_time_picker.html") %}
{% end %}

{% block custom_body %}
<div class="table_container">
    <div class="table_title">
        东部传媒公司人员基本情况登记表
    </div>
    <div class="table_mod_date">
        填表日期：
        <input type="text" class="date_picker" id="mod_date">
    </div>

    <table cellspacing="0">
        <tr>
            <td class="title_td not_null_field">姓名<span class="not_null_flag">*</span> </td>
            <td class="content_td"><input type="text" id="name"> </td>
            <td class="title_td">性别</td>
            <td class="content_td">
                <select id="sex">
                    <option value="男" selected>男</option>
                    <option value="女">女</option>
                </select>
            </td>
            <td class="title_td">籍贯</td>
            <td class="content_td"><input type="text" id="descent"></td>
            <td rowspan="5" class="photo_td">
                <div class="photo_td_content">
                    <div class="portrait_container">
                        <a href="javascript:" title="选择照片">
                            <img src="res/images/default_portrait.png" class="portrait" id="personal_portrait">
                            <input type="file" accept="image/jpeg,image/jpg,image/png,image/bmp" id="portrait_file" onchange="onPortraitChange()">
                        </a>
                    </div>
                    <div class="portrait_upload_btn_container">
                        <button id='portrait_btn' class="ui-button ui-corner-all" onclick="uploadPortrait()">上传</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>政治面貌</td>
            <td class="content_td">
                <select id="politics">
                    <option value="中共党员" selected>中共党员</option>
                    <option value="群众">群众</option>
                    <option value="其他">其他</option>
                </select>
            </td>
            <td>民族</td>
            <td class="content_td"><input type="text" id="nation"></td>
            <td>出生日期</td>
            <td class="content_td"><input type="text" class="date_picker" id="birthday"></td>
        </tr>
        <tr>
            <td>婚姻状况</td>
            <td>
                <select id="marriage">
                    <option value="未婚" selected>未婚</option>
                    <option value="已婚">已婚</option>
                    <option value="离异">离异</option>
                    <option value="丧偶">丧偶</option>
                </select>
            </td>
            <td class="not_null_field">身份证号<span class="not_null_flag">*</span></td>
            <td colspan="3"><input type="text" id="id_card"></td>
        </tr>
        <tr>
            <td>干部或职工</td>
            <td colspan="2">
                <select id="leadership">
                    <option selected value="职工">职工</option>
                    <option value="干部">干部</option>
                </select>
            </td>
            <td>技术职称</td>
            <td>
                <select id="technical_title">
                    <option value="无" selected>无</option>
                    <option value="会计师">会计师</option>
                    <option value="编辑">编辑</option>
                    <option value="记者">记者</option>
                    <option value="工程师">工程师</option>
                    <option value="播音员">播音员</option>
                    <option value="教师">教师</option>
                </select>
            </td>
            <td>
                <select id="technical_title_level">
                    <option value="无" selected>无</option>
                    <option value="助理">助理</option>
                    <option value="中级">中级</option>
                    <option value="高级">高级</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>最高学历</td>
            <td colspan="2">
                <select id="education_level">
                    <option value="小学">小学</option>
                    <option value="初中">初中</option>
                    <option value="高中">高中</option>
                    <option value="中专">中专</option>
                    <option value="大专">大专</option>
                    <option value="本科" selected>本科</option>
                    <option value="硕士研究生">硕士研究生</option>
                    <option value="博士研究生">博士研究生</option>
                </select>
            </td>
            <td>最高学位</td>
            <td colspan="2">
                <select id="degree">
                    <option value="无" selected>无</option>
                    <option value="学士">学士</option>
                    <option value="硕士">硕士</option>
                    <option value="博士">博士</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>学历 学位</td>
            <td>
                <select id="education_type">
                    <option value="全日制教育" selected>全日制教育</option>
                    <option value="在职教育">在职教育</option>
                </select>
            </td>
            <td>毕业院校</td>
            <td><input type="text" id="college"></td>
            <td>专业</td>
            <td><input type="text" id="major"> </td>
            <td>
                <div>
                    <div class="element_left" style="width: 43%">毕业时间</div>
                    <div class="element_left" style="width: 55%"><input type="text" class="date_picker" id="graduate_date"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>户口所在地详细地址</td>
            <td colspan="4"><input type="text" id="registered_address"></td>
            <td>参加工作时间</td>
            <td><input type="text" class="date_picker" id="work_begin_date"></td>
        </tr>
        <tr>
            <td class="not_null_field">部门<span class="not_null_flag">*</span></td>
            <td id="dept_td" colspan="2"></td>
            <td>现工作岗位</td>
            <td id="position_container">
                <select id="position">
                    <option value="台长">台长</option>
                    <option value="副台长">副台长</option>
                    <option value="编委">编委</option>
                    <option value="主任">主任</option>
                    <option value="副主任">副主任</option>
                    <option value="董秘">董秘</option>
                    <option value="一级主管">一级主管</option>
                    <option value="二级主管">二级主管</option>
                    <option value="一级员工">一级员工</option>
                    <option selected value="临聘员工">临聘员工</option>
                </select>
            </td>
            <td>编制</td>
            <td>
                <select id="authorized_strength">
                    <option value="事业编制">事业编制</option>
                    <option value="集团派出领导">集团派出领导</option>
                    <option value="企业编制职工">企业编制职工</option>
                    <option value="企业编制干部">企业编制干部</option>
                    <option value="临聘员工" selected>临聘员工</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">何时何种形式进入本公司工作</td>
            <td colspan="5">
                <input type="text" id="condition_of_this_job">
            </td>
        </tr>
        <tr>
            <td class="not_null_field">入职时间<span class="not_null_flag">*</span></td>
            <td>
                <input class="date_picker" type="text" id="join_date">
            </td>
            <td>合同结束时间</td>
            <td>
                <input class="date_picker" type="text" id="contract_end_date">
            </td>
            <td>汇报关系</td>
            <td colspan="2">
                <div id="report_uid_container" class="common_clickable"></div>
            </td>
        </tr>
        <tr>
            <td rowspan="2">通讯方式</td>
            <td>手机</td>
            <td colspan="2"><input type="text" id="cellphone"></td>
            <td>家庭电话</td>
            <td colspan="2"><input type="text" id="home_number"></td>
        </tr>
        <tr>
            <td>现居住地址</td>
            <td colspan="5"><input type="text" id="address"></td>
        </tr>
        <tr>
            <td colspan="2">应急联系人</td>
            <td colspan="2"><input type="text" id="emergency_contact"></td>
            <td>联系电话</td>
            <td colspan="2"><input type="text" id="emergency_contact_number"></td>
        </tr>
        <tr>
            <td rowspan="4">教育培训经历（从高中写起）</td>
            <td>开始时间</td>
            <td>结束时间</td>
            <td>学校/培训机构</td>
            <td>专业/培训内容</td>
            <td>是否取得学历</td>
            <td>备注</td>
        </tr>
        <tr>
            <td><input type="text" class="date_picker" id="education_begin_0"></td>
            <td><input type="text" class="date_picker" id="education_end_0"></td>
            <td><input type="text" id="education_college_0"></td>
            <td><input type="text" id="education_major_0"></td>
            <td><input type="text" id="education_certificate_0"></td>
            <td><input type="text" id="education_mark_0"></td>
        </tr>
        <tr>
            <td><input type="text" class="date_picker" id="education_begin_1"></td>
            <td><input type="text" class="date_picker" id="education_end_1"></td>
            <td><input type="text" id="education_college_1"></td>
            <td><input type="text" id="education_major_1"></td>
            <td><input type="text" id="education_certificate_1"></td>
            <td><input type="text" id="education_mark_1"></td>
        </tr>
        <tr>
            <td><input type="text" class="date_picker" id="education_begin_2"></td>
            <td><input type="text" class="date_picker" id="education_end_2"></td>
            <td><input type="text" id="education_college_2"></td>
            <td><input type="text" id="education_major_2"></td>
            <td><input type="text" id="education_certificate_2"></td>
            <td><input type="text" id="education_mark_2"></td>
        </tr>
        <tr>
            <td>懂何种外语</td>
            <td><input type="text" id="foreign_language"></td>
            <td>熟练程度</td>
            <td><input type="text" id="foreign_language_level"></td>
            <td>特长</td>
            <td colspan="2"><input type="text" id="speciality"></td>
        </tr>
        <tr>
            <td rowspan="5">主要工作经历</td>
            <td>开始时间</td>
            <td>结束时间</td>
            <td>工作单位</td>
            <td>工作岗位</td>
            <td>离职原因</td>
            <td>备注</td>
        </tr>
        <tr>
            <td><input type="text" class="date_picker" id="job_begin_0"></td>
            <td><input type="text" class="date_picker" id="job_end_0"></td>
            <td><input type="text" id="job_company_0"></td>
            <td><input type="text" id="job_position_0"></td>
            <td><input type="text" id="job_resign_reason_0"></td>
            <td><input type="text" id="job_mark_0"></td>
        </tr>
        <tr>
            <td><input type="text" class="date_picker" id="job_begin_1"></td>
            <td><input type="text" class="date_picker" id="job_end_1"></td>
            <td><input type="text" id="job_company_1"></td>
            <td><input type="text" id="job_position_1"></td>
            <td><input type="text" id="job_resign_reason_1"></td>
            <td><input type="text" id="job_mark_1"></td>
        </tr>
        <tr>
            <td><input type="text" class="date_picker" id="job_begin_2"></td>
            <td><input type="text" class="date_picker" id="job_end_2"></td>
            <td><input type="text" id="job_company_2"></td>
            <td><input type="text" id="job_position_2"></td>
            <td><input type="text" id="job_resign_reason_2"></td>
            <td><input type="text" id="job_mark_2"></td>
        </tr>
        <tr>
            <td><input type="text" class="date_picker" id="job_begin_3"></td>
            <td><input type="text" class="date_picker" id="job_end_3"></td>
            <td><input type="text" id="job_company_3"></td>
            <td><input type="text" id="job_position_3"></td>
            <td><input type="text" id="job_resign_reason_3"></td>
            <td><input type="text" id="job_mark_3"></td>
        </tr>
        <tr>
            <td rowspan="5">家庭成员</td>
            <td>称谓</td>
            <td>姓名</td>
            <td>出生年月</td>
            <td>政治面貌</td>
            <td colspan="2">工作单位及职务</td>
        </tr>
        <tr>
            <td><input type="text" id="member_relation_0"></td>
            <td><input type="text" id="member_name_0"></td>
            <td><input type="text" class="date_picker" id="member_birthday_0"></td>
            <td>
                <select id="member_politics_0">
                    <option value="中共党员" selected>中共党员</option>
                    <option value="群众">群众</option>
                    <option value="其他">其他</option>
                </select>
            </td>
            <td colspan="2"><input type="text" id="member_job_0"></td>
        </tr>
        <tr>
            <td><input type="text" id="member_relation_1"></td>
            <td><input type="text" id="member_name_1"></td>
            <td><input type="text" class="date_picker" id="member_birthday_1"></td>
            <td>
                <select id="member_politics_1">
                    <option value="中共党员" selected>中共党员</option>
                    <option value="群众">群众</option>
                    <option value="其他">其他</option>
                </select>
            </td>
            <td colspan="2"><input type="text" id="member_job_1"></td>
        </tr>
        <tr>
            <td><input type="text" id="member_relation_2"></td>
            <td><input type="text" id="member_name_2"></td>
            <td><input type="text" class="date_picker" id="member_birthday_2"></td>
            <td>
                <select id="member_politics_2">
                    <option value="中共党员" selected>中共党员</option>
                    <option value="群众">群众</option>
                    <option value="其他">其他</option>
                </select>
            </td>
            <td colspan="2"><input type="text" id="member_job_2"></td>
        </tr>
        <tr>
            <td><input type="text" id="member_relation_3"></td>
            <td><input type="text" id="member_name_3"></td>
            <td><input type="text" class="date_picker" id="member_birthday_3"></td>
            <td>
                <select id="member_politics_3">
                    <option value="中共党员" selected>中共党员</option>
                    <option value="群众">群众</option>
                    <option value="其他">其他</option>
                </select>
            </td>
            <td colspan="2"><input type="text" id="member_job_3"></td>
        </tr>
        <tr>
            <td colspan="7" class="mark_info">
                本人承诺以上所有信息真实有效，且可以作为审查依据，
                若出现问题愿意承担相应责任，若本人信息更新及时通知本部门，否则按公司规定处理。
            </td>
        </tr>
        <!--<tr>-->
        <!--<td colspan="7"></td>-->
        <!--</tr>-->
        <tr>
            <td colspan="7">
                <div class="commit_btn_container">
                    <button class="ui-button ui-corner-all" onclick="commit()">提交</button>
                </div>
            </td>
        </tr>
    </table>

</div>

<div id="report_uid_dlg" title="选择汇报人">
    <div>
        <input type="radio" checked name="report_uid_type" id="report_uid_type_default" value="0">
        <label for="report_uid_type_default">无</label>
        <input type="radio" name="report_uid_type" id="report_uid_type_custom" value="1">
        <label for="report_uid_type_custom">自定义</label>
    </div>
    <div id="report_uid_selector_container">
        <p>
            <select id="report_uid_dept_selector"></select>
        </p>
        <p>
            <select id="report_uid_selector">
                <option selected value='-1' disabled>请选择员工</option>
            </select>
        </p>
    </div>
</div>

{% end %}

{% block custom_foot %}
<script>
    var module_data = {
        op: null,
        uid: null,
        portrait_data: null,
        operation_mask: 0,
        dept_list: null,
        report_dept: null,
        report_uid: null,
        report_name: null,
        report_uid_dlg: null,
        report_uid_default: true,
        authority: 1024
    };

    $(document).ready(function() {
        {% if 'op' not in arg %}
        redirectError('参数错误');
        return;
        {% else %}
        module_data.op = "{{ arg['op'][0] }}";
        {% end %}
        {% if 'uid' in arg %}
        module_data.uid = {{ arg['uid'][0] }};
        {% end %}

        initFields();
        initDatePicker($(".date_picker"));

        $("#report_uid_selector_container").hide();
        $("[name='report_uid_type']").checkboxradio();
        $("[name='report_uid_type']").on('change', function (event) {
            var value = parseInt($(event.target).val());
            onReportUidType(value);
        });

        module_data.report_uid_dlg = $("#report_uid_dlg");
        commonInitDialog(module_data.report_uid_dlg, function () {
            module_data.report_uid_dlg.dialog('close');
        });
        selectMenu($("#report_uid_dept_selector"), function (event, ui) {
            var value = parseInt($(event.target).val());
            if (value !== module_data.report_dept) {
                module_data.report_dept = value;
                module_data.report_uid = null;
                module_data.report_name = null;
                setReportUidContainer();
                queryReportAccountList();
            }
        });
        selectMenu($("#report_uid_selector"), function (event, ui) {
            module_data.report_uid = parseInt($(event.target).val());
            module_data.report_name = $(event.target).children(':selected').text();
            setReportUidContainer(module_data.report_name);
        });
        $("#report_uid_container").click(function () {
            module_data.report_uid_dlg.dialog('open');
        });

        queryDeptList();

        if (module_data.op === 'update') {
            if (!module_data.uid) {
                redirectError('参数错误');
            } else {
                if (module_data.uid !== __my_uid) {
                    needAuthority(OPERATION_MASK_EMPLOYEE);
                }
                queryAccountExtend();
            }
        } else if (module_data.op === 'add') {
            needAuthority(OPERATION_MASK_EMPLOYEE);
            $("#portrait_btn").hide();
            $("#report_uid_container").html();
            setDeptSelector();
        } else {
            redirectError('参数错误');
        }
    });

    function onReportUidType(value) {
        if (value === 0) {
            module_data.report_uid_default = true;
            $("#report_uid_selector_container").hide();
            setReportUidContainer();
        } else {
            module_data.report_uid_default = false;
            $("#report_uid_selector_container").show();
            setReportUidContainer(module_data.report_name);
        }
    }

    function setReportUidContainer(report_name) {
        $("#report_uid_container").text(report_name? '向　' + report_name + '　汇报' : '无');
    }

    function initFields() {
        var field = [
            'mod_date',
            'name',
            'sex',
            'descent',
            'politics',
            'nation',
            'birthday',
            'marriage',
            'id_card',
            'leadership',
            'technical_title',
            'technical_title_level',
            'education_level',
            'degree',
            'education_type',
            'college',
            'major',
            'graduate_date',
            'registered_address',
            'work_begin_date',
            'position',
            'condition_of_this_job',
            'authorized_strength',
            'cellphone',
            'home_number',
            'address',
            'emergency_contact',
            'emergency_contact_number',
            'foreign_language',
            'foreign_language_level',
            'speciality',
            'join_date',
            'contract_end_date'
        ];

        var education_field = ['begin', 'end', 'college', 'major', 'certificate', 'mark'];
        addListField(field, education_field, 'education', 3);

        var job_field = ['begin', 'end', 'company', 'position', 'resign_reason', 'mark'];
        addListField(field, job_field, 'job', 4);

        var member_field = ['relation', 'name', 'birthday', 'politics', 'job'];
        addListField(field, member_field, 'member', 4);

        module_data['fields'] = field;
    }

    function queryDeptList() {
        commonPost('/api/query_dept_list', null, function (data) {
            module_data.dept_list = data;
            setReportDeltList();
        });
    }

    function setReportDeltList() {
        var options = "<option selected value='-1' disabled>请选择部门</option>";
        module_data.dept_list.forEach(function (p1, p2, p3) {
            options += "<option value='" + p1.id + "'>" + p1.name + "</option>";
        });
        $("#report_uid_dept_selector").append(options).selectmenu('refresh');
    }

    function queryReportAccountList() {
        commonPost('/api/query_account_list', {type: TYPE_ACCOUNT_SAMPLE, dept_id: module_data.report_dept}, function (data) {
            var options = "<option selected value='-1' disabled>请选择员工</option>";
            data.forEach(function (p1, p2, p3) {
                options += "<option value='" + p1.id + "'>" + p1.name + "</option>";
            });
            var container = $("#report_uid_selector");
            removeChildren(container);
            container.append(options).selectmenu('refresh');
        })
    }

    function setDeptSelector(dept_id) {
        if (!module_data.dept_list) {
            setTimeout(function () {
                setDeptSelector(dept_id);
            }, 500);
            return;
        }
        var html = "<select id='dept_selector'><option selected value='-1' disabled>请选择部门</option> ";
        module_data.dept_list.forEach(function (p1, p2, p3) {
            html += "<option value='" + p1.id + "'>" + p1.name + "</option>";
        });
        html += "</select>";
        $("#dept_td").append(html);
        if (dept_id) {
            $("#dept_selector").val(dept_id);
        }
    }

    function queryAccountExtend() {
        var param = null;
        if (module_data.uid !== __my_uid) {
            param = {uid: module_data.uid}
        }
        commonPost('/api/query_account_extend', param, function (data) {
            module_data.operation_mask = data.operation_mask;
            module_data.authority = data.authority;

            var extend = data.extend;
            for (var key in extend) {
                if (extend.hasOwnProperty(key)) {
                    $("#" + key).val(extend[key]);
                }
            }
            setReportUidContainer(data.report_name);
            if (data.report_name) {
                module_data.report_uid = data.report_uid;
                module_data.report_name = data.report_name;
                $("#report_uid_type_custom").attr('checked', true);
                $("[name='report_uid_type']").checkboxradio('refresh');
                onReportUidType(1);
            }
            $("#personal_portrait").attr('src', data.portrait);
            if (__authority <= __admin_authority) {
                setDeptSelector(data.department_id);
            } else {
                $("#dept_td").append(data.dept);
                $("#portrait_btn").hide();
            }
        });
    }

    function onPortraitChange() {
        var files = $("#portrait_file")[0].files;
        if (files.length === 0) {
            return;
        }
        var f = files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            module_data.portrait_data = e.target.result;
            $("#personal_portrait").attr('src', module_data.portrait_data);

        };
        reader.readAsDataURL(f);
    }

    function uploadPortrait() {
        if (!module_data.portrait_data) {
            return;
        }
        commonPost('/api/alter_account', {
            account_info: JSON.stringify({portrait: module_data.portrait_data}),
            op: 'update',
            uid: module_data.uid
        }, function (data) {
            promptMsg('上传成功');
        });
    }

    function commit() {
        var param = {
            op: module_data.op
        };

        var info = {};
        module_data.fields.forEach(function (p1, p2, p3) {
            info[p1] = $("#" + p1).val();
        });
        if (!checkInfo(info)) {
            return;
        }
        var account_info = {
            extend: info
        };
        if (module_data.op === 'add') {
           if (!module_data.portrait_data) {
               promptMsg('请选择照片');
               return;
           }
           account_info['portrait'] = module_data.portrait_data;
        } else if (module_data.op === 'update') {
            param['uid'] = module_data.uid;
        } else {
            redirectError();
            return;
        }

        if (__authority <= __admin_authority) {
            var dept = $("#dept_selector").val();
            if (!dept || dept === '-1') {
                promptMsg('请选择部门');
                return;
            }
            account_info['department_id'] = dept;
        }

        if (__admin_authority > __admin_authority && (info['position'] === '台长' || info['posiion'] === '副台长') ) {
            promptMsg('没有权限设置领导岗位');
            return;
        }
        decideOperationMask(account_info, info['position']);

        if (info['sex'] === '男') {
            account_info['sex'] = TYPE_SEX_MALE;
        } else {
            account_info['sex'] = TYPE_SEX_FEMALE;
        }

        if (info['position'] === '主任' || info['position'] === '副主任' || info['position'] === '编委') {
            account_info['position_type'] = TYPE_POSITION_LEADER;
        } else {
            account_info['position_type'] = TYPE_POSITION_NORMAL;
        }

        if (module_data.report_uid_default) {
            account_info['report_uid'] = null;
        } else {
            account_info['report_uid'] = module_data.report_uid;
        }
        param['account_info'] = JSON.stringify(account_info);

        commonPost('/api/alter_account', param, function (data) {
            if (module_data.op === 'add') {
                window.location.href = 'error.html?message=' +
                    encodeURI('添加员工成功，账号为{*' + data.account + "*}，初始密码为{*oa123456*}");
            } else {
                promptMsg('修改成功');
            }
        });
    }

    function addListField(fields, sub_fields, prefix, count) {
        for (var i = 0; i < count; ++i) {
            sub_fields.forEach(function (p1, p2, p3) {
                fields.push(prefix + '_' + p1 + '_' + i);
            });
        }
    }

    function checkInfo(info) {
        var not_null_field = [
            ['name', '姓名'],
            ['id_card', '身份证号'],
            ['join_date', '入职时间']
        ];
        if (not_null_field.some(function (p1, p2, p3) {
            if (!info.hasOwnProperty(p1[0])) {
                redirectError();
            }
            if (!info[p1[0]]) {
                promptMsg(p1[1] + '不能为空');
                return true;
            }
            return false;}) ) {
            return false;
        }

        if (!isValidIdCard(info.id_card)) {
            promptMsg('无效的身份证号');
            return false;
        }
        if (info.cellphone) {
            if (!isValidPhoneNumber(info.cellphone)) {
                promptMsg('无效的手机号码');
                return false;
            }
        }
        return true;
    }

    function decideOperationMask(account_info, position) {
        if (position === '台长') {
            if (module_data.authority > __admin_authority) {
                account_info['authority'] = AUTHORITY_CHAIR_LEADER;
            }
        } else if (position === '副台长') {
            if (module_data.authority > __admin_authority) {
                account_info['authority'] = AUTHORITY_VIA_LEADER;
            }
        } else {
            if (module_data.authority > __admin_authority && module_data.authority <= AUTHORITY_DEPT_LEADER) {
                account_info['authority'] = AUTHORITY_DEPT_LEADER;
            }
        }
    }

</script>
{% end %}