<!-- 头部 -->
<div class="base_header_container">
    <div class="web_header">
        <div class="element_left" style="margin-left: 20px">
            <img src="res/images/logo.png" style="width: 20px; height: 22px; margin-top: 13px">
        </div>
        <div class="element_left" style="margin-left: 10px; font-size: 20px">
            欢迎使用OA系统
        </div>
        <div class="element_right" style="margin-right: 20px">
            <a href="personal.html">{{ account_info['name']}}</a>&nbsp;|&nbsp;<a href="logout.html">退出</a>
        </div>
        <div class="element_right" style="margin-right: 10px">
            <a href="personal.html" class="web_header_portrait_container">
            <img id='header_user_portrait' src="{{ account_info['portrait'] }}">
            </a>
        </div>
        {% if account_info['authority'] <= 8 %}
        <div class="element_right" style="margin-right: 20px"><a href="admin.html">管理员后台</a></div>
        {% end %}
    </div>

    <div class="div-header-navigation-bar base_container">
        <ul id="guild_bar">
        </ul>
    </div>
</div>
