{% extends base.html %}
<title>{% block title %}主页{% end %}</title>

{% block custom_head %}
<link href="res/css/index.css" rel="stylesheet">
<link href="res/css/list.css" rel="stylesheet">
<script src="res/script/index.js"></script>
{% end %}

{% block custom_body %}
<div class="index_container">
    <div class="index_news">
        <div class="img_news_item">
            <a href="/" id="img_news_url" target="_blank"></a>
            <img src="res/images/a.jpg" id="img_news_img">
            <div id="img_news_title">未设置</div>
        </div>
        <div class="index_news_divider"></div>
        <div class="topic_title">
            <div class="element_left">公司要闻</div>
            <div class="element_right"><a href="error.html" style="font-size: 14px">更多》</a></div>
        </div>
        <div>
            <ul class="base_ul" id="company_news_list">
            </ul>
        </div>
        <div class="index_news_divider"></div>
        <div class="topic_title">
            <div class="element_left">其他资讯</div>
            <div class="element_right"><a href="error.html" style="font-size: 14px">更多》</a></div>
        </div>
        <div>
            <ul class="base_ul" id="other_news_list">
            </ul>
        </div>
    </div>
    <div class="index_info">
        <!--<div class="index_broadcast">重要通知：********!!!</div>-->
        <div class="index_recent_task_container">
            <div class="topic_title">
                最近的工作流
            </div>
            <ul class="recent_info_list" id="recent_job_list">
            </ul>
        </div>
    </div>
    <div class="index_right">
        <div id="inline_date"></div>
        <div id="useful_link_container"></div>
    </div>
</div>
{% end %}