{% extends base.html %}
<title>{% block title %}主页{% end %}</title>

{% block custom_head %}
<link href="res/css/index.css" rel="stylesheet">
<link href="res/css/list.css" rel="stylesheet">
<script type="text/javascript" src="{{static_url('../res/script/index.js')}}"></script>
{% end %}

{% block custom_body %}
<div class="index_container">
    <div class="index_news">
        <div class="img_news_item">
            <a href="/" id="img_news_url" target="_blank"></a>
            <img src="res/images/a.jpg" id="img_news_img">
            <div id="img_news_title">未设置</div>
        </div>
        <div class="index_news_divider"></div>
        <div class="topic_title">
            <div class="element_left">公司要闻</div>
            <div class="element_right"><a href="link_page.html#company_link_container" style="font-size: 14px">更多》</a></div>
        </div>
        <div>
            <ul class="base_ul" id="company_news_list">
            </ul>
        </div>
        <div class="index_news_divider"></div>
        <div class="topic_title">
            <div class="element_left">其他资讯</div>
            <div class="element_right"><a href="link_page.html#other_link_container" style="font-size: 14px">更多》</a></div>
        </div>
        <div>
            <ul class="base_ul" id="other_news_list">
            </ul>
        </div>
    </div>
    <div class="index_info">
        <!--<div class="index_broadcast">重要通知：********!!!</div>-->
        <div class="index_recent_task_container">
            <div id="system_msg_container">
                <div class="topic_title">系统消息</div>
                <ul id="system_msg_list"></ul>
                <div class="common_divider"></div>
            </div>
            <div id="waiting_job_container">
                <div class="topic_title">待办的工作流 <span title="将所有新消息标记为已读" onclick="readAll()" class="element_right common_clickable">标记为已读</span> </div>
                <ul id="waiting_job_list"></ul>
                <div class="common_divider"></div>
            </div>
            <div id="admin_job_container">
                <div class="topic_title">管理员待办工作流</div>
                <ul class="recent_info_list" id="admin_job_list"></ul>
                <div class="common_divider"></div>
            </div>
            <div class="topic_title">
                最近的工作流
            </div>
            <ul class="recent_info_list" id="recent_job_list">
            </ul>
            <div class="common_border common_container" id="empty_job_container">
                <img src="res/images/icon/empty_gray.png">
                <div>暂无工作流</div>
            </div>
            <div id="completed_job_container">
                <div class="topic_title">已归档的自动化流程</div>
                <ul class="recent_info_list" id="completed_job_list"></ul>
                <div class="common_divider"></div>
            </div>
            <div id="completed_doc_report_container">
                <div class="topic_title">已归档的呈报表/公文</div>
                <ul class="recent_info_list" id="completed_doc_report_list"></ul>
                <div class="common_divider"></div>
            </div>

            <div id="today_birthday_container" class="birthday_container">
                <div class="topic_title">今日生日员工</div>
                <div id="today_birthday_list"></div>
            </div>
            <div id="will_birthday_container" class="birthday_container">
                <div class="topic_title">将要生日员工</div>
                <div id="will_birthday_list"></div>
            </div>
            <div id="retire_birthday_container" class="birthday_container">
                <div class="topic_title">将要退休员工</div>
                <div id="retire_birthday_list"></div>
            </div>
        </div>
    </div>
    <div class="index_right">
        <div id="inline_date"></div>
        <div id="today_leave_container">
            <div class='index_news_divider'></div>
            <div class='topic_title'>今日休假</div>
        </div>
        <div id="useful_link_container"></div>
    </div>
</div>

<div id="edit_employee_psd_dlg" title="密码重置信息">
    <div>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="border-bottom: 1px solid; border-right: 1px solid"></td>
                <td style="border-bottom: 1px solid;">申请人填写</td>
                <td style="border-bottom: 1px solid;">系统信息</td>
                <td style="border-bottom: 1px solid;">对比结果</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">姓名</td>
                <td id="name_from_invoker" style="color: blue"></td>
                <td id="name_from_sys" style="color: blue"></td>
                <td id="name_compare_result"></td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">身份证</td>
                <td id="id_card_from_invoker" style="color: blue"></td>
                <td id="id_card_from_sys" style="color: blue"></td>
                <td id="id_card_compare_result"></td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">手机</td>
                <td id="cellphone_from_invoker" style="color: blue"></td>
                <td id="cellphone_from_sys" style="color: blue"></td>
                <td id="cellphone_compare_result"></td>
            </tr>
        </table>
    </div>
</div>
{% end %}