{% extends base.html %}

{% block title %}工作流{% end %}
{% block custom_head %}
<link rel="stylesheet" href="res/css/list.css">
<link rel="stylesheet" href="res/css/tabs.css">
<link rel="stylesheet" href="res/css/job_record.css">
<script type="text/javascript" src="res/script/job_record.js"></script>
<script type="text/javascript" src="res/script/employee_multi_selector.js"></script>
<script type="text/javascript" src="res/script/page_controller.js"></script>
<link rel="stylesheet" href="res/css/employee_multi_selector.css">
{% module Template("module_date_time_picker.html") %}
{% end %}

{% block custom_body %}
<div id="tabs">
    <ul>
        <li value="10"><a href="#job_search">搜索工作流</a> </li>
        <li><a href="#job_waiting">待办的工作流</a> </li>
        <li><a href="#job_processed">已办的工作流</a> </li>
        <li><a href="#job_completed">已归档的工作流</a> </li>
        <li><a href="#job_sent_by_myself">我发起的工作流</a> </li>
        <li><a href="#job_system_msg">系统消息</a> </li>
        <li id="query_job_tab" value="4"><a href="#query_job_container">查询自动化工作流</a></li>
        <li id="query_report_tab" value="5"><a href="#query_doc_report_container">查询呈报表/公文</a></li>
        <li id="query_leave_detail" value="6"><a href="#query_leave_detail_container">导出请假详情</a></li>
        <li id="query_admin_job" value="7"><a href="#admin_job_container">管理员工作流</a></li>
    </ul>
    <div id="job_search">
        <div class="common_btn_container">
            <div class="job_query_label">标题：</div>
            <div class="job_query_content">
                <input type="text" id="search_job_title" placeholder="标题为空则搜索全部" class="invoke_date_picker" style="width: 240px;text-align: left;">
                <button id="search_btn" title="按Enter直接查询" class="ui-button ui-corner-all element_right" style="margin-right:60px; width: 80px; letter-spacing: 2px;" onclick="onQueryBtnClick()">查询</button>
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label">发起时间：</div>
            <div class="job_query_content">
                <input type="text" id="search_invoke_begin" placeholder="开始" class="invoke_date_picker">
                》
                <input type="text" id="search_invoker_end" placeholder="至今" class="invoke_date_picker">
            </div>
        </div>
        <div id="job_search_list"></div>
        <div id="search_result_count" style="text-align: right; padding-right: 50px;"></div>
    </div>
    <div id="job_waiting">
        <div id="job_waiting_list"></div>
        <div id="job_waiting_page_controller"></div>
    </div>
    <div id="job_processed">
        <div id="job_processed_list"></div>
        <div id="job_processed_page_controller"></div>
    </div>
    <div id="job_completed">
        <div id="job_completed_list"></div>
        <div id="job_completed_page_controller"></div>
    </div>
    <div id="job_sent_by_myself">
        <div id="job_sent_by_myself_list"></div>
        <div id="job_sent_by_myself_page_controller"></div>
    </div>
    <div id="job_system_msg">
        <div id="job_system_msg_list"></div>
        <div id="job_system_msg_page_controller"></div>
    </div>
    <div id="query_job_container">
        <div class="common_btn_container">
            <div class="job_query_label">类型：</div>
            <div class="job_query_content">
                <select id="auto_job_type">
                    <option selected value="0">全部</option>
                </select>
                <button id="query_btn" title="按Enter直接查询" class="ui-button ui-corner-all element_right" style="margin-right:60px; width: 80px; letter-spacing: 2px;" onclick="onQueryBtnClick()">查询</button>
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label">状态：</div>
            <div class="job_query_content">
                <select id="auto_job_status">
                    <option value="0">全部</option>
                    <option value="1" selected>已完成</option>
                    <option value="2">处理中</option>
                    <option value="3">其他</option>
                </select>
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label">发起时间：</div>
            <div class="job_query_content">
                <input type="text" id="invoke_begin" placeholder="开始" class="invoke_date_picker">
                》
                <input type="text" id="invoker_end" placeholder="至今" class="invoke_date_picker">
                <button class="ui-button ui-corner-all element_right" style="margin-right:60px; width: 80px; letter-spacing: 2px;" onclick="onExportBtnClick()">导出</button>
            </div>
        </div>
        <div class="query_invoker_container">
            <div class="job_query_label">发起人：</div>
            <div class="job_query_invoker_list_container">
                <ul id="invoker_list" class="invoker_list"></ul>
                <button id="add_invoker_btn" class="common_add_btn"></button>
            </div>
        </div>
        <div class="common_container" id="job_list_container"></div>
        <div id="auto_job_count" style="text-align: right; padding-right: 50px;"></div>
    </div>
    <div id="query_doc_report_container">
        <div class="common_btn_container">
            <div class="job_query_label">类型：</div>
            <div class="job_query_content">
                <select id="doc_type">
                    <option selected value="0">全部</option>
                </select>
                <button id="query_doc_report_btn" title="按Enter直接查询" class="ui-button ui-corner-all element_right" style="margin-right:60px; width: 80px; letter-spacing: 2px;" onclick="onQueryBtnClick()">查询</button>
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label">状态：</div>
            <div class="job_query_content">
                <select id="doc_status">
                    <option value="0">全部</option>
                    <option value="1" selected>已完成</option>
                    <option value="2">处理中</option>
                    <option value="3">其他</option>
                </select>
                <button class="ui-button ui-corner-all element_right" style="margin-right:60px; width: 80px; letter-spacing: 2px;" onclick="onExportBtnClick()">导出</button>
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label">标题：</div>
            <div class="job_query_content">
                <input type="text" id="report_title" placeholder="标题为空则搜索全部" class="invoke_date_picker" style="width: 240px;text-align: left;">
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label">发起时间：</div>
            <div class="job_query_content">
                <input type="text" id="report_invoke_begin" placeholder="开始" class="invoke_date_picker">
                》
                <input type="text" id="report_invoker_end" placeholder="至今" class="invoke_date_picker">
            </div>
        </div>
        <div class="query_invoker_container">
            <div class="job_query_label">发起人：</div>
            <div class="job_query_invoker_list_container">
                <ul id="report_invoker_list" class="invoker_list"></ul>
                <button id="add_report_invoker_btn" class="common_add_btn"></button>
            </div>
        </div>
        <div class="common_container" id="doc_report_list_container"></div>
        <div id="doc_report_count" style="text-align: right; padding-right: 50px;"></div>
    </div>
    <div id="query_leave_detail_container">
        <div class="common_btn_container">
            <div class="job_query_label">类型：</div>
            <div class="job_query_content">
                <select id="leave_type">
                    <option selected value="0">全部</option>
                    <option value="病假">病假</option>
                    <option value="事假">事假</option>
                    <option value="年假">年假</option>
                    <option value="调休">调休</option>
                    <option value="婚假">婚假</option>
                    <option value="丧假">丧假</option>
                    <option value="产假">产假</option>
                    <option value="陪产假">陪产假</option>
                </select>
                <button id="export_btn" class="ui-button ui-corner-all element_right" style="margin-right:60px; width: 80px; letter-spacing: 2px;" onclick="onQueryBtnClick()">导出</button>
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label">部门：</div>
            <div class="job_query_content">
                <select id="leave_dept">
                    <option selected value="0">全部</option>
                </select>
            </div>
        </div>
        <div class="common_btn_container">
            <div class="job_query_label" title="休假时段的开始时间在该搜索范围内">开始时间：</div>
            <div class="job_query_content">
                <input type="text" id="min_begin_time" placeholder="不限" class="invoke_date_picker">
                》
                <input type="text" id="max_begin_time" placeholder="不限" class="invoke_date_picker">
            </div>
        </div>
    </div>
    <div id="admin_job_container">
        <div id="admin_job_list"></div>
        <div id="admin_job_page_controller"></div>
    </div>
</div>

<div id="select_invoker_dlg" title="发送者">
    <div id="employee_selectable_container">
    </div>
</div>

<div id="select_report_invoker_dlg" title="发送者">
    <div id="report_employee_selectable_container">
    </div>
</div>
<div id="edit_employee_psd_dlg" title="密码重置信息">
    <div>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="border-bottom: 1px solid; border-right: 1px solid"></td>
                <td style="border-bottom: 1px solid;">申请人填写</td>
                <td style="border-bottom: 1px solid;">系统信息</td>
                <td style="border-bottom: 1px solid;">对比结果</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">姓名</td>
                <td id="name_from_invoker" style="color: blue"></td>
                <td id="name_from_sys" style="color: blue"></td>
                <td id="name_compare_result"></td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">身份证</td>
                <td id="id_card_from_invoker" style="color: blue"></td>
                <td id="id_card_from_sys" style="color: blue"></td>
                <td id="id_card_compare_result"></td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">手机</td>
                <td id="cellphone_from_invoker" style="color: blue"></td>
                <td id="cellphone_from_sys" style="color: blue"></td>
                <td id="cellphone_compare_result"></td>
            </tr>
        </table>
    </div>
</div>
{% end %}

