<div class="contact_container" id="contact_{{ contact_type }}">
    <div class="contact_list common_border element_left common_container">
        <div class="topic_title">
            联系人列表
        </div>
        <div>
            <ul></ul>
        </div>
    </div>

    <div class="contact_detail common_border element_right common_container">
        <div class="topic_title">
            联系人详情
        </div>
        <div class="contact_detail_items">
            <p>工号：<span></span></p>
            <p>姓名：<span></span></p>
            <p>部门：<span></span></p>
            <p>职位：<span></span></p>
            <p>手机号码：<span></span></p>
            <p>邮箱：<span></span></p>
            <p>qq：<span></span></p>
            <p>微信：<span></span></p>
        </div>
    </div>
</div>