{% extends base_certificate.html %}

{% block title %}伯乐推荐{% end %}
{% block more_head %}
<script type="text/javascript" src="res/script/attachment_list.js"></script>
<link rel="stylesheet" href="res/css/list.css">
{% end %}
{% block certificate_title %}伯乐推荐{% end %}

{% block certificate_content %}
<div>
    推荐部门：
    <select id="dept_selector">
        <option selected disabled value="-1">请选择部门</option>
    </select>
</div>
<div>
    推荐职位：<input id="position" type="text" class="common_editor">
</div>
<div>
    推荐原因：
    <div>
        <textarea id="reason" class="common_text_area"></textarea>
    </div>
</div>
<div class="job_attachment_container" id="attachment_container"></div>
{% end %}

{% block guild_module %}{% module Template("module_hr_guild.html") %}{% end %}

{% block js_script %}
<script>
    var attachment_controller = initAttachmentController($("#attachment_container"),{
        label: '上传简历'
    });

    $(function () {
        selectMenu($("#dept_selector"));
        commonPost('/api/query_dept_list', null, function (data) {
            var options = '';
            data.forEach(function (p1, p2, p3) {
                options += '<option value="' + p1.name + '">' + p1.name + '</option>';
            });
            $("#dept_selector").append(options).selectmenu('refresh');
        });
    });

    function getParam(check) {
        if (check) return;

        var dept = $("#dept_selector").val();
        if (dept === '-1') {
            promptMsg('请选择推荐部门');
            return;
        }
        var position = $("#position").val();
        if (!position) {
            promptMsg('请填写推荐职位');
            return;
        }
        var reason = $("#reason").val();
        if (!reason) {
            promptMsg('请填写推荐原因');
            return
        }

        var attachment = attachment_controller.get_upload_files();
        if (!attachment) {
            promptMsg('请上传简历');
            return;
        }

        var content =  "<div>推荐部门：" + wrapWithSpan(dept) + "</div>";
        content += "<div>推荐职位：" + wrapWithSpan(position) + "</div>";
        content += "<div>推荐原因：</div>";
        content += "<div style='margin-left:2em'>" + reason + "</div>";

        return {
            op: 'add',
            job_type: getType(),
            title: '伯乐推荐',
            content: wrapJobContent(content),
            has_attachment: 1,
            file_list: JSON.stringify(attachment)
        };
    }

    function getType() {
        return TYPE_JOB_HR_RECOMMEND;
    }
</script>
{% end %}