
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>公司架构管理</title>
    <script src="res/jquery/external/jquery/jquery.js"></script>
    <script src="res/jquery/jquery-ui.js"></script>
    <link href="res/jquery/jquery-ui.css" rel="stylesheet">
    <link href="res/css/base.css" rel="stylesheet">
    <script src="res/script/base.js"></script>
    <link href="res/css/navigation.css" rel="stylesheet">

    <link href="res/css/list.css" rel="stylesheet">
    <link href="res/css/tabs.css" rel="stylesheet">
    <script src="res/script/employee_manage.js"></script>
    <script src="res/script/md5.js"></script>
    <script src="res/script/sha1.js"></script>

</head>
<body>

<!-- 头部 -->
<div class="base_container">
    <div class="web_header">
        <div class="element_left" style="margin-left: 20px">
            <img src="res/images/logo.png" style="width: 20px; height: 22px; margin-top: 13px">
        </div>
        <div class="element_left" style="margin-left: 10px; font-size: 20px">
            欢迎使用OA系统
        </div>
        <div class="element_right" style="margin-right: 20px">
            <a href="personal.html" style="color: rgb(0,127,255)">test_name</a>&nbsp;|&nbsp;<a href="logout.html" style="color: rgb(0,127,255);">退出</a>
        </div>
        <div class="element_right" style="margin-right: 10px">
            <a href="personal.html">
                <img id='header_user_portrait' src="https://b3.hoopchina.com.cn/images/logo2013/v1/hp_logo_nba.png" style="width: 36px; height: 36px; border-radius: 18px;">
            </a>
        </div>
    </div>
    <div class="div-header-navigation-bar base_container">
        <ul id="guild_bar">
        </ul>
    </div>
</div>
<script>
    function showGuildBar() {
        var guild = [
            {href: 'index.html', label: '首页', authority: __common_authority},
            {href: 'personal.html', label: '个人信息', authority: __admin_authority},
            {href: 'error.html', label: '通讯录', authority: __admin_authority},
            {href: 'error.html', label: '工作流', authority: __dept_leader_authority},
            {href: 'error.html', label: '办公室发文', authority: __common_authority},
            {href: 'error.html', label: '证明材料申请', authority: __admin_authority},
            {href: 'error.html', label: '人事流程', authority: __dept_leader_authority},
            {href: 'error.html', label: '购物流程', authority: __admin_authority},
            {href: 'error.html', label: '公司制度', authority: __dept_leader_authority},
            {href: 'error.html', label: '文件下载', authority: __dept_leader_authority}
        ];
        var html = '';
        guild.forEach(function (item, p2, p3) {
            if (item.authority >= __authority) {
                html += getGuildItemHtml(item);
            }
        });
        $("#guild_bar").append(html);
    }
    function getGuildItemHtml(item) {
        return '<li><a href="' + item.href + '">' + item.label + '</a></li>'
    }
</script>


<div class="base_container">
    <div id="__common_tag_area" class="common_tag_area"></div>

    <div id="tabs" style="margin-top: 10px;">
        <ul>
            <li><a href="#dept_config_container">部门管理</a></li>
            <li><a href="#employee_config_container">员工管理</a></li>
        </ul>
        <div class="tab_config_container" id="dept_config_container">
            <div class="element_right">
                <button id="add_dept" style="width: 140px" class="ui-button ui-corner-all ui-widget">+增加部门</button>
            </div>
            <div id="dept_list" style="margin-top: 20px;">
            </div>
        </div>
        <div class="tab_config_container" id="employee_config_container" style="padding-bottom: 24px;">
            <div class="selector_container">
                <div style="float: left">
                    当前部门：
                    <select id="current_department_menu">
                        <option selected disabled value="-1">请选择</option>
                        <option value="0">全部</option>
                    </select>
                </div>
                <div class="element_right">
                    <!--<button id="add_employee_list" style="width: 140px" class="ui-button ui-corner-all ui-widget">+批量增加员工</button> &nbsp;&nbsp;-->
                    <button id="add_employee" style="width: 140px" class="ui-button ui-corner-all ui-widget">+增加员工</button>
                </div>
            </div>
            <p>员工数：<span style="color: red" id="current_employee_count">0</span></p>
            <div id="employee_list" style="margin-top: 20px;"></div>
        </div>
        <br/>
    </div>


    <div class="web_footer">版权所有 my-oa.com</div>

</div>
</body>

<script>
    $("#__common_tag_area").hide();
    var __authority = 1;
    showGuildBar();
</script>


<div id="edit_dept_dialog" title="增加部门">
    <p class="department_selector">
        上级部门：
        <select id="leader_dept">
            <option selected disabled value="-1">请选择</option>
            <option value="null" id="noneLeader">无</option>
        </select>
    </p>
    <p>
        部门名称：<input id="dept_name" type="text" class="common_editor"/>
    </p>
    <p>&nbsp;</p>
</div>
<div id="edit_employee_dialog" title="增加员工">
    <div>
        <input type="file" id="portrait_file" onchange="onPortraitChange()" accept="image/*" class="ui-button ui-corner-all"/>
        <div style="width: 150px; margin-left: auto; margin-right: auto; margin-top: 10px;">
            <img id="personal_portrait" src="res/images/default_portrait.png" style="width: 150px; height: 200px;">
        </div>
    </div>
    <p>
        　　账号：<input id="employee_account" type="text" class="common_editor"/>
    </p>
    <p>
        　　密码：<input id="employee_password" type="password" class="common_editor" placeholder="默认为：oa123456"/>
        <button id="reset_employee_password" class="common_editor">重置</button>
        &nbsp;&nbsp;
        <span class="common_clickable" id="cancel_reset_employee_password">取消</span>
    </p>
    <p>
        　　姓名：<input id="employee_name" type="text" class="common_editor"/>
    </p>
    <p>
        　身份证：<input id="id_card" type="text" class="common_editor"/>
    </p>
    <p class="department_selector" id="edit_employee_dept">
        　　部门：
        <select id="belong_dept">
            <option selected disabled value="-1">请选择部门</option>
        </select>
    </p>
    <p>
        　　职位：<input id="position" type="text" class="common_editor"/><span class="sp_text">&nbsp;*</span>
    </p>
    <p>
        入职日期：<input id="join_date" type="text" class="common_editor"/>
    </p>
    <p>&nbsp;</p>
</div>

</html>