<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>公文交互</title>
    <script type="text/javascript" src="res/jquery/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="res/jquery/jquery-ui.js"></script>
    <link href="res/jquery/jquery-ui.css" rel="stylesheet">
    <link href="res/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="res/script/type_define.js"></script>
    <script type="text/javascript" src="res/script/base.js"></script>
    <link href="res/css/navigation.css" rel="stylesheet">
    <script type="text/javascript" src="res/script/datepicker-zh-CN.js"></script>

    <link rel="stylesheet" href="res/css/tabs.css">
    <link rel="stylesheet" href="res/css/list.css">
    <link rel="stylesheet" href="res/css/official_doc.css">
    <script type="text/javascript" src="res/script/official_doc.js"></script>
    <script type="text/javascript" src="res/script/attachment_list.js?v=14cb9eada420f96694398b011069e7c4"></script>
    <script type="text/javascript" src="res/script/employee_multi_selector.js"></script>
    <link rel="stylesheet" href="res/css/employee_multi_selector.css">
    <script type="text/javascript" src="res/script/page_controller.js"></script>

</head>
<body>
<div class="base_container">

    <!-- 头部 -->
    <div class="base_header_container">
        <div class="web_header">
            <div class="element_left" style="margin-left: 20px">
                <img src="res/images/logo.png" style="width: 20px; height: 22px; margin-top: 13px">
            </div>
            <div class="element_left" style="margin-left: 10px; font-size: 20px">
                欢迎使用OA系统
            </div>
            <div class="element_right" style="margin-right: 20px">
                <a href="personal.html">system</a>&nbsp;|&nbsp;<a href="logout.html">退出</a>
            </div>
            <div class="element_right" style="margin-right: 10px">
                <a href="personal.html" class="web_header_portrait_container">
                    <img id='header_user_portrait' src="res/images/portrait/default_portrait.png">
                </a>
            </div>

            <div class="element_right" style="margin-right: 20px"><a href="admin.html">管理员后台</a></div>

        </div>
        <div class="div-header-navigation-bar base_container">
            <ul id="guild_bar">
            </ul>
        </div>
    </div>


    <div class="base_body_container">
        <div id="__common_tag_area" class="common_tag_area"></div>
        <div class="content_body_container">

            <div id="tabs">
                <ul>
                    <li><a href="#invoke_doc_container">发送公文</a></li>
                    <li><a href="#my_doc_container">我的公文</a></li>
                </ul>
                <div class="tab_config_container" id="invoke_doc_container">
                    <div class="node_info_item">
                        <div class="element_left node_info_item_label">主题：　</div>
                        <input type="text" id="doc_topic" class="common_editor node_info_item_input element_left">
                        <div style="float: right; margin-right: 40px;" title="选中后，每个接收者将生成相互独立的处理路径；不选中，则所有接收者共享公文" hidden>
                            <input type="checkbox" id="branch_type"><label for="branch_type">链式公文</label>
                        </div>
                    </div>
                    <div class="node_info_item">
                        <div class="element_left node_info_item_label">发送到：</div>
                        <div class="rec_container">
                            <ul id="rec_list">
                            </ul>
                            <button id="add_rec_btn" class="node_info_item_add_btn"></button>
                        </div>
                    </div>
                    <div class="attachment_container" id="attachment_container"></div>
                    <div class="attachment_container" id="img_attachment_container"></div>
                    <div class="doc_text_area_container">
                        <textarea id='doc_content' class="doc_text_area"></textarea>
                    </div>
                    <div>
                        <button id='doc_send_btn' class="doc_send_btn">发 送</button>
                    </div>
                </div>
                <div class="tab_config_container" id="my_doc_container">
                    <div id="my_doc_tab">
                        <input type="radio" name="my_doc_radio" value="0" id="waiting" checked><label for="waiting">待办的公文</label>
                        <input type="radio" name="my_doc_radio" value="1" id="processed"><label for="processed">已处理的公文</label>
                        <input type="radio" name="my_doc_radio" value="2" id="completed"><label for="completed">已归档的公文</label>
                        <input type="radio" name="my_doc_radio" value="3" id="sent_by_myself"><label for="sent_by_myself">我发送的公文</label>
                    </div>
                    <div class="common_border common_container">
                        <div id="doc_waiting"></div>
                        <div id="doc_processed"></div>
                        <div id="doc_completed"></div>
                        <div id="doc_sent_by_myself"></div>
                    </div>
                </div>
            </div>
            <div id="select_rec_dlg" title="发送到">
                <div id="employee_selectable_container">
                </div>
            </div>

        </div>

        <div class="web_footer">版权所有 my-oa.com</div>

    </div>
</div>
</body>
<script>
    $("#__common_tag_area").hide();
    __authority = 0;
    __my_uid = 250;
    __my_operation_mask = 0;
    function getGuildItemHtml(item) {
        return '<li><a style="color: white;" href="' + item.href + '">' + item.label + '</a></li>'
    }
    function showGuildBar() {

        var guild = [
            {href: 'index.html', label: '首页', authority: __common_authority},
            {href: 'personal.html', label: '个人信息', authority: __common_authority},
            {href: 'contact.html', label: '通讯录', authority: __common_authority},
            {href: 'job_record.html', label: '工作流', authority: __common_authority},
            {href: 'doc_report.html', label: '呈报表', authority: __common_authority},
            {href: 'official_doc.html', label: '公文交互', authority: __common_authority},
            {href: 'auto_job.html', label: '自动化流程', authority: __common_authority},
            {href: 'company_rule.html', label: '公司制度', authority: __common_authority},
            {href: 'download_file.html', label: '文件下载', authority: __common_authority},
            {href: 'dynamic.html', label: '动态', authority: __common_authority}
        ];

        var html = '';
        guild.forEach(function (item, p2, p3) {
            if (item.authority >= __authority) {
                html += getGuildItemHtml(item);
            } else if (item.hasOwnProperty('operation_mask') && (item.operation_mask & __my_operation_mask)) {
                html += getGuildItemHtml(item);
            }
        });
        $("#guild_bar").append(html);
    }
    $(function () {
        showGuildBar();
        initPromptDialog();
    });
</script>

</html>