
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>公司制度</title>
    <script type="text/javascript" src="res/jquery/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="res/jquery/jquery-ui.js"></script>
    <link href="res/jquery/jquery-ui.css" rel="stylesheet">
    <link href="res/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="res/script/type_define.js"></script>
    <script type="text/javascript" src="res/script/base.js"></script>
    <link href="res/css/navigation.css" rel="stylesheet">
    <script type="text/javascript" src="res/script/datepicker-zh-CN.js"></script>

    <link rel="stylesheet" href="res/css/tabs.css">
    <link rel="stylesheet" href="res/css/list.css">
    <link rel="stylesheet" href="res/css/company_rule.css">

</head>
<body>
<div class="base_container">

    <!-- 头部 -->
    <div class="base_header_container">
        <div class="web_header">
            <div class="element_left" style="margin-left: 20px">
                <img src="res/images/logo.png" style="width: 20px; height: 22px; margin-top: 13px">
            </div>
            <div class="element_left" style="margin-left: 10px; font-size: 20px">
                欢迎使用OA系统
            </div>
            <div class="element_right" style="margin-right: 20px">
                <a href="personal.html">大佬</a>&nbsp;|&nbsp;<a href="logout.html">退出</a>
            </div>
            <div class="element_right" style="margin-right: 10px">
                <a href="personal.html" class="web_header_portrait_container">
                    <img id='header_user_portrait' src="res/images/portrait/a01e9138fdb031c644845d013b1bdc66.png">
                </a>
            </div>

            <div class="element_right" style="margin-right: 20px"><a href="admin.html">管理员后台</a></div>

        </div>
        <div class="div-header-navigation-bar base_container">
            <ul id="guild_bar">
            </ul>
        </div>
    </div>


    <div class="base_body_container">
        <div id="__common_tag_area" class="common_tag_area"></div>
        <div class="content_body_container">

            <div id="tabs">
                <ul id="tab_item_list"></ul>
            </div>
            <script>
                var container_prefix = 'rule_container_';
                $(document).ready(function () {
                    queryRuleType();
                });
                function queryRuleType() {
                    commonPost('http://localhost:5505/api/rule_type?op=query', null, function (data) {
                        type_list_data = data;
                        if (data.length > 0) {
                            var tab_list_html = '';
                            var tab_container_html = '';
                            data.forEach(function (p1, p2, p3) {
                                var id = container_prefix + p1.id;
                                tab_list_html += '<li value="' + p1.id + '"><a href="#' + id + '">' + p1.label + '</a>';
                                tab_container_html += '<div id="' + id + '">';
                                if (p1.memo) {
                                    tab_container_html += '<div class="common_container" style="font-size: 1.25em; text-align: center;">' + p1.memo + '</div>';
                                }
                                tab_container_html += '</div>';
                                queryRuleList(p1.id);
                            });
                            $("#tabs ul").append(tab_list_html);
                            $("#tabs").append(tab_container_html);
                            verticalTabs();
                            $(".add_new_rule_btn").click(function (event) {
                                openRuleDetailDlg();
                            });
                        }
                    });
                }
                function queryRuleList(type_id) {
                    commonPost('/api/rule_detail', {op: 'query', type_id: type_id}, function (data) {
                        var html = '';
                        data.forEach(function (p1, p2, p3) {
                            html += '<div class="rule_item_container">';
                            html += '<div class="rule_title">' + (p2+1) + '. ' + p1.title + '</div>';
                            var detail = abstractJobContent(p1.detail);
                            if (detail) {
                                html += '<div class="rule_detail">' + html2Text(detail) +'</div>';
                            }
                            if (p1.attachment_title) {
                                html += '<div class="rule_detail" style="margin-top: 5px">';
                                html += '附件：<a style="color: #00dd1c" href="' + p1.attachment_path + '">' + p1.attachment_title + '</a>';
                                html += '</div>';
                            }
                            html += '</div>'
                        });
                        $("#" + container_prefix + type_id).append(html);
                    });
                }
            </script>

        </div>

        <div class="web_footer">版权所有 my-oa.com</div>

    </div>
</div>
<div>
    <input id="ss" style="width: 60px;">
</div>
</body>
<script>
    $(document).ready(function () {
        $("#ss").spinner({
        });
    });

    function foo(a, b) {
        alert(b);
    }

    function bar() {
        foo(1);
    }
</script>

</html>