.outer_container {
    width: 100%;
    display: inline-block;
}

.job_guild_container{
    width: 30%;
    float: left;
    padding-left: 2em;
}

.job_type {
    font-size: 1.25em;
    color: orange;

}

.job_guild_list {

}

.job_guild_list ul {
    list-style-type: circle;
}

.job_guild_list ul li {
    margin: 5px;
}

.job_guild_list a, a:visited {
    color: rgb(0,127,255);
    text-decoration: none;
    letter-spacing: 5px;
}