img {
    width: 100%;
}

.base_container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.base_container a{
    color: rgb(64,64,64);
    text-decoration: none;
}

.base_container a:visited {
    color: gray;
    text-decoration: none;
}

.base_header_container {
    /*position: fixed;*/
    /*height: 90px;*/
    /*z-index: 10;*/
    /*background: white;*/
    top: 0;
}

.base_body_container {
    /*top: 80px;*/
    /*position: relative;*/
    margin-top: 10px;

}

.content_body_container {
    /*display: inline-block;*/
}

.element_left {
    float: left;
    position: relative;
}

.element_right {
    float: right;
    position: relative;
}

.web_header {
    /*     background: red; */
    height: 44px;
    line-height: 44px;
    color: rgb(0,127,255);
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.web_header a:visited {
    color: rgb(0,127,255);
}

.web_header_portrait_container {
    overflow: hidden;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid rgb(0,127,255);
    display: inline-block;
}

.web_footer {
    margin-top: 20px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.common_tag_area {
    padding-left:10px;
    padding-bottom:10px;
    color: rgb(255,89,89);
}

.common_border {
    border: 1px solid lightgray;
    border-radius: 4px;
}

.common_editor {
    width: 220px;
    height: 30px;
    line-height: 30px;
    margin-left:4px;
    border: 1px solid rgb(197,197,197);
    border-radius: 3px;
    padding-left: 5px;
    padding-right:5px;
}

.common_long_editor {
    width: 600px;
    height: 30px;
    line-height: 30px;
    margin-left:4px;
    border: 1px solid rgb(197,197,197);
    border-radius: 3px;
    padding-left: 5px;
    padding-right:5px;
}

.topic_title {
    color: rgb(0,127,255);
    height: 30px;
    font-size: 1.15em;
}

.common_clickable {
    color: rgb(0,127,255);
    /*text-decoration: underline;*/
    font-size: 15px;
}

.common_clickable:hover {
    color: lightskyblue;
    cursor: pointer;
}

.tab_config_container {
    width: 100%;
    position: relative;
    padding: 20px;
}

.tab_config_add_btn_container {
    float: right;
}

.selector_container {
    width: 100%;
    height: 35px;
    position: relative;
    padding: 5px 0 5px 0;
    margin-top: 10px;
}

.sp_text {
    color: red;
    font-size: 24px;
    margin-left: 10px;
    float:right;
    margin-right:70px;
}

.common_container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.common_ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.common_divider {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

#tabs {
    margin-top: 10px;
}

.common_attachment {
    background: url("../images/logo.png");
}

.common_bold_divider {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 4px solid rgb(0,127,255);
}

.common_small_del_btn {
    margin-left: 5px;
    width: 13px;
    height: 13px;
}

.common_small_del_btn:hover {
    cursor: pointer;
}

.common_file_input {
    position: relative;
    display: inline-block;
    background: rgb(235,245,255);
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.common_file_input input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.common_file_input:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.common_text_area {
    padding: 5px;
    width: 98%;
    height: 240px;
    border-radius: 4px;
}

.common_btn_container {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}