.rule_item_container {
    padding: 5px;
    margin-bottom: 5px;
}

.rule_title {
    color: blue;
    font-size: 1.2em;
    line-height: 32px;

}

.rule_detail {
    margin-left: 1em;
    line-height: 24px;
}

.rule_memo {
    font-size: 1.6em;
    text-align: center;
}