
#dynamic_title {
    font-size: 2em;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#dynamic_author {
    text-align: right;
    color: gray;
    margin: 5px;
    font-family: 楷体;
}

#img_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#img_container img {
    margin-bottom: 5px;
    border: 1px solid lightgrey;
}

#dynamic_content {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    font-size: 1.15em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

#attachment_container {
    width: 98%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(235,235,235);
}

#attachment_tag {
    color: green;
    margin-left: 5px;
}

#attachment_container div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 5px;
}

#attachment_container div a {
    margin-left: 2em;
}

#img_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 10px;
}

#img_list li {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 2px;
    height: 120px;
    border: 1px solid gray;
}

#img_list li div {
    height: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#img_list li:hover {
    cursor: pointer;
}

.img_active {
    background: yellow;
}