.index_container {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

.index_info {
    width: 455px;
    margin-left: 15px;
    float: left;
}

.index_news {
    width: 320px;
    float: left;
}

.index_right {
    float: right;
}

.index_broadcast {
    margin-bottom: 10px;
    padding: 10px;
    color: blue;;
    font-size: 24px;
    border: 1px solid blue;
    border-radius: 4px;
}

.index_recent_task_container {
    /*margin-top: 10px;*/
}


.img_news_item {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.img_news_item img {
    position: absolute;
    z-index: 0;
}

.img_news_item a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.img_news_item div {
    position: absolute;
    width: 98%;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.index_news_divider {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

#useful_link_container {

}

.recent_info_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.recent_info_list li {
    margin-bottom: 10px;
}


.recent_info_type {
    float: left;
    width: 18%;
    color: rgb(255,0,168);
    padding-left: 10px;
}

.recent_info_mark_status {
    width: 12%;
    font-family: cursive;
    float: left;
    color: rgb(0,0,225);
}

.recent_info_main {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recent_info_status {
    width: 15%;
    float: left;
}

#empty_job_container {
    text-align: center;
}

#empty_job_container img {
    width: 50%;
}

#empty_job_container div {
    text-align: right;
    color: gray;
    font-size: 1.15em;
    font-family: cursive;
}

#waiting_job_container {
    padding-bottom: 5px;
}

#waiting_job_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-bottom: 5px;
}

#waiting_job_list li {
    margin-bottom: 10px;
}

.waiting_job_main {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.birthday_container {
    margin-top: 25px;
    padding-bottom: 5px;
}

#edit_employee_psd_dlg table {
    width: 100%;
    text-align: center;
}

#edit_employee_psd_dlg table td {
    height: 32px;
}

#system_msg_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#system_msg_list li {
    margin-bottom: 10px;
}